/* sets the background color of the body to a light gray (#f8f8f8) and sets the font family to Arial or 
any sans-serif font. It also sets the text color to a dark gray (#333).*/
body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
}
/* styles all <h1> elements on the page. It centers the text, adds a margin of 50 pixels on top, sets 
the font size to 36 pixels, sets the color to a dark green (#006748), and makes the text uppercase.*/
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #006748;
    text-transform: uppercase;
}

p {
    text-align: justify;
    color: #333;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0px 5px 10px #006748;
}

table tr:hover {
    background-color: #f5f5f5;
}

table tr:first-child {
    background-color: #006748;
    color: white;
    text-transform: uppercase;
}

table th {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px #006748;
}

table td {
    padding: 20px;
    text-align: justify;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px #006748;
}

table td:first-child {
    font-size: 14.99px;
}

table td img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: initial;
    object-position: center center;
    box-shadow: 0px 2px 5px #006748;
}

.boarder {
    padding: 20px 40px;
}