
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body {
  background-color: #f1f1f1;
  font-family: Arial;
  margin: 0;
}

.content {padding:20px;}

.usflogo img {
  height: auto;
  width: auto;
}

/* Add a black background color to the top navigation */
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: auto;
  width: 100%;
  background-color: #006747;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the highlight/current link */
.navbar a.highlight {
  background-color: black;
  color: white;
}

.logout-button {
  position: fixed;
  top: 15px;
  right: 10px;
  float: right;
}

.logout-button a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
}

video {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}