body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
}

.content {
  padding: 20px;
}

.usflogo img {
  height: auto;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: auto;
  width: 100%;
  background-color: #006748;
  overflow: hidden;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;

}

.navbar a.highlight {
  background-color: black;
  color: white;
}

video {
  display: block;
  margin: auto;
  height: auto;
  width: 80%;
}