body {
  font-family: Arial, sans-serif;

}

.container {

  margin: auto 0;
  padding: 20px 40px;
}

h1 {
  text-align: center;
  color: #006747;
}

form {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 125px;
  text-align: right;
}

input[type="text"],
input[type="date"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#due-date {
  background-color: #f2f2f2;
  border: none;
  color: black;
  font-size: larger;
  padding: 5px;
}

button {
  margin: auto auto;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #006747;
  color: #fff;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  max-width: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #006747;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
}

button:hover {
  background-color: #f44336;
  opacity: 0.8;
}

select {
  background-color: #f2f2f2;
  border: none;
  color: black;
  font-size: medium;
  padding: 5px;
}